@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  header .container nav {
    display: none;
  }

  header .container .menu-mobile {
    display: block;
    font-size: 1.2rem;
    padding: 1rem 1.6rem;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}
