@media (max-width: 1200px) {
  .s-hero .text {
    max-width: 49%;
  }

  .container-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us .container-about-us .image-about-us {
    margin-top: 5rem;
  }
  .about-us .container-about-us .content-about-us {
    margin-top: 2rem;
  }
  .about-us .container-about-us .image-about-us {
    max-width: 40rem;
    height: 15rem;
    margin-bottom: 10rem;
  }
}

@media (max-width: 991px) {
  .s-hero .container {
    flex-direction: column;
  }

  .s-hero .text {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .s-hero .container .text h1 {
    text-align: center;
  }

  .s-hero .container .text p {
    text-align: center;
  }

  .s-hero .container .text .btn-primary-purple {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .s-hero .scroll-to-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .s-hero .container .image {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .services {
    margin-top: 0;
  }

  .plans .all-cards-plans {
    flex-direction: column;
    align-items: center;
  }

  .plans .all-cards-plans .card-plans {
    margin-bottom: 3rem;
  }

  .plans .all-cards-plans .card-plans:last-child {
    margin-bottom: 0;
  }

  .about-us .title-about-us h2 {
    font-size: 3rem;
  }
  .about-us .container-about-us .content-about-us {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  header .container nav {
    display: none;
  }

  header .container .menu-mobile {
    display: block;
    font-size: 1.2rem;
    padding: 1rem 1.6rem;
  }

  .s-hero .image {
    margin-top: 2rem;
    height: 15rem;
  }

  .services .title p {
    text-align: center;
  }

  .services {
    padding-top: 0;
    margin-top: 5rem;
  }

  .about-us .title-about-us h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .container-about-us {
    margin-top: 0rem;
  }
  .about-us .title-about-us h2 {
    margin-bottom: 3rem;
  }
  .about-us .title-about-us .button-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .title-about-us .button-about-us a {
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .about-us .title-about-us .button-about-us a:last-child {
    margin-bottom: 0;
  }

  .about-us .title-about-us h2 {
    font-size: 2.6rem;
  }
  .about-us .container-about-us .image-about-us {
    max-width: 30rem;
    height: 15rem;
    margin-bottom: 2rem;
  }

  .about-us .container-about-us .content-about-us {
    margin-top: 2rem;
  }

  .about-us .container-about-us .content-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .about-us .container-about-us .content-about-us .p-content p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
  header .logo {
    max-width: 13rem;
  }

  .s-hero {
    padding: 0rem 0px;
    margin-bottom: 0;
  }

  .s-hero .text p {
    margin-bottom: 3rem;
  }

  .s-hero .image {
    margin-top: 0rem;
    max-width: 25rem;
  }

  h1 {
    font-size: 5rem;
  }

  .s-hero .scroll-to-more {
    margin-top: 4rem;
  }

  .s-hero .scroll-to-more {
    margin-top: 4rem;
  }

  .s-hero .scroll-to-more img {
    margin-bottom: 3rem;
  }

  .services {
    padding-top: 0;
    margin-top: 5rem;
    padding-bottom: 0;
  }

  .services .main-area {
    padding-bottom: 1.5rem;
  }

  .services .title h2 {
    font-size: 3rem;
  }

  .services .title p {
    text-align: center;
  }

  .services .all-points {
    margin-top: 4rem;

    gap: 2rem;
  }

  .plans .plans-title {
    padding-top: 4rem;
  }

  .plans .plans-title h2 {
    font-size: 3rem;
  }

  .about-us .container-about-us {
    margin-top: 0rem;
  }

  .about-us .title-about-us {
    margin-top: 3rem;
  }

  .about-us .title-about-us .button-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .container-about-us .image-about-us {
    max-width: 30rem;
    height: 15rem;
    margin-bottom: 2rem;
  }
}
